<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form method="POST" action="/dangnhap">
        <label>Email
            <input type="email" name="email" id="email" placeholder="Insert your email" />
        </label>
        <lable>Mật khẩu
            <input type="password" name="password" id="password" placeholder="Your password" />
        </lable>
        <input type="submit" id="login" value="Đăng nhập" name="login" />
    </form>
</body>
</html>